.vue-simple-toaster {
    width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    font-size: 17px;
}

.vue-simple-toaster.normal{
    background-color: #1F2D3D
}

.vue-simple-toaster.success{
    background-color: #13CE66
}

.vue-simple-toaster.warn{
    background-color: #F7BA2A
}

.vue-simple-toaster.error{
    background-color: #FF4949
}

.vue-simple-toaster.alert{
    background-color: #20A0FF
}

.vue-simple-toaster.toaster-top{
    margin-left: -125px;
    top:5%;
    left:50%;
}

.vue-simple-toaster.toaster-top-center{
    margin-left: -125px;
    top:5%;
    left:50%;
}

.vue-simple-toaster.toaster-top-right{
    top:5%;
    right:5%;
}

.vue-simple-toaster.toaster-top-left{
    top:5%;
    left:5%;
}

.vue-simple-toaster.toaster-center{
    margin-left: -125px;
    transform: translateY(-50%);
    top:50%;
    left:50%;
}

.vue-simple-toaster.toaster-center-left{
    transform: translateY(-50%);
    top:50%;
    left:5%;
}

.vue-simple-toaster.toaster-center-right{
    transform: translateY(-50%);
    top:50%;
    right:5%;
}

.vue-simple-toaster.toaster-bottom{
    margin-left: -125px;
    bottom:5%;
    left:50%;
}

.vue-simple-toaster.toaster-bottom-left{
    bottom:5%;
    left:5%;
}

.vue-simple-toaster.toaster-bottom-center{
     margin-left: -125px;
    bottom:5%;
    left:50%;
}

.vue-simple-toaster.toaster-bottom-right{
    bottom:5%;
    right:5%;
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    

    visibility: visible !important;  
}

.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    

    visibility: visible !important;                     
}


.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    

    visibility: visible !important;                     
}


@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    50%{
        -webkit-transform: translateY(-8%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    80%{
        -webkit-transform: translateY(-4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}

@-webkit-keyframes fadeIn
{
    from{opacity:0}
    to{opacity:1}
}
@keyframes fadeIn{
    from{opacity:0}to{opacity:1}
}